.hidden {
  display: none;
}

.appear {
  display: block;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start {
  align-items: flex-start;
}

.m-body {
  height: 250px;
  overflow-y: auto;
}